* {
    margin: 0;
    padding: 0;
}
body {
    display: flex;
}
.sidebar {
    display: flex;
    flex-direction: column;
    flex-basis: 20%;
    height: 100vh;
    padding: 1rem;
    background-color: aqua;
}
.main-container {
    flex-basis: 80%;
    height: 100vh;
    padding: 1rem;
    background-color: aquamarine;
}
.priority-high {
    background-color: rgb(255, 128, 128);
}
.priority-mid {
    background-color: rgb(255, 255, 128);
}
.priority-low {
    background-color: rgb(128, 255, 128);
}
.completed-true::after {
    content: "Completed";
}
.todo {
    display: flex;
    padding: 0.125rem;
    gap: 0.5rem;
}
.todo-checkbox:checked ~ div {
    text-decoration: line-through;
}

.project-name::after {
    content: "Edit";
}